<div class="newuser">
  <div class="heading">
    Auxi<div class="on">on</div>
  </div>
  <div class="introduction">
    Make the most of your Marketing skills
  </div>


  <div class="form-container">
      <%= render 'form', user: @user %>
  </div>
</div>
