<div class="newproduct">
  <div class="heading">
    Auxi<div class="on">on</div>
  </div>
  <div class="introduction">
    Add New Product
  </div>

  <%= render 'form', product: @product %>

</div>
